In [ ]:
print("hello world")

hello world

In [ ]:
uName = "V"
company = "Deloitte"

print("Hey user", uName)

Hey user V

In [ ]:
print("My company is ", company)

My company is  Deloitte

In [ ]:
userName = "Tushargoyal"
greeting = f"hi user {userName}"

print(greeting)

hi user Tushargoyal

In [ ]:
userName = "Omkar"

print(greeting)

hi user Tushargoyal

In [ ]:
1+3*5/2-2

6.5

In [ ]:
2*3//2%2**3/2

1.5

In [ ]:
2**3**2

512

In [ ]:
10 << 1

20

In [ ]:
state = "Rajasthan"

state[0:2]

'Ra'

In [ ]:
state[0:]

'Rajasthan'

In [ ]:
state[:5]

'Rajas'

In [ ]:
state[-1:-5:-1]

'naht'

In [ ]:
myTuple = 10,20
print(type(myTuple))

<class 'tuple'>

In [ ]:
firstSet = ({10,20,30,40,50})
firstSet

{10, 20, 30, 40, 50}

In [ ]:
secondSet = ({70,90,10,40,60,100,110})
secondSet

{10, 40, 60, 70, 90, 100, 110}

In [ ]:
firstSet.union(secondSet)

{10, 20, 30, 40, 50, 60, 70, 90, 100, 110}

In [ ]:
firstSet.intersection(secondSet)

{10, 40}

In [ ]:
firstSet.issubset(secondSet)

False

In [ ]:
thirdSet = ({100,90,80,10,20,30,40,50})

In [ ]:
firstSet.issubset(thirdSet)

True

In [ ]:
firstSet.difference(secondSet)

{20, 30, 50}

In [ ]:
secondSet.difference(firstSet)

{60, 70, 90, 100, 110}

In [ ]:
firstSet - secondSet

{20, 30, 50}

In [ ]:
secondSet - firstSet

{60, 70, 90, 100, 110}

In [ ]:
a = input("Please enter user data:")

if (type(a) is str):
  myList = a.split()
  print (myList)
  set_a = set(myList)
  print((set_a))
else: 
  print("Not a string")

Please enter user data:hey hey hello welcome welcome string
['hey', 'hey', 'hello', 'welcome', 'welcome', 'string']
{'welcome', 'string', 'hey', 'hello'}

In [ ]:
for rows in range(1,5):
  for cols in range(1,rows+1):
    print("*", end = " ")
  print("\n")

*

* *

* * *

* * * *

In [ ]:
for rows in range(1,5):
  for cols in range(1,rows+1):
    print(cols, end = " ")
  print("\n")

1

1 2

1 2 3

1 2 3 4

In [2]:
y = 0
for rows in range(1,5):
  for cols in range(1,rows+1):
    y +=1
    print("*"*(5-y))
  print("\n")

****


***
**


*

In [ ]:
y = 0
for rows in range(1,5):
  for cols in range(1,rows+1):
    y +=1
    print(y, end = " ")
  print("\n")

1

2 3

4 5 6

7 8 9 10

## DAY 2

In [ ]:
def greeting(uname):
  print("Hey",uname)

In [ ]:
greeting("VShah")
greeting("Tushar")

Hey VShah
Hey Tushar

In [ ]:
def swap(x,y):
  x,y = y,x
  print(f"After Swapping: X = {x} and Y = {y}")

In [ ]:
x = input("X = ")
y = input("Y = ")

swap(x,y)

X = 10
Y = 20
After Swapping: X = 20 and Y = 10

In [ ]:
def listup(mylist):
  i = 0

  while i<len(mylist):
    mylist[i] = mylist[i]+1
    i+=1

In [ ]:
ml = [10,20,30]
listup(ml)
print(ml)

[11, 21, 31]

In [ ]:
def palindrome(x):
  return x == x[::-1]

y = "NAMANA"
ans = palindrome(y)

if ans:
  print("PALINDROME")
else:
  print("NOT")

NOT

In [ ]:
def insta(**detail):
  print(detail,type(detail))

In [ ]:
insta(uName ="hey",website="www.com",id = 123)

{'uName': 'hey', 'website': 'www.com', 'id': 123} <class 'dict'>

In [ ]:
insta("Hey",123,456)

('Hey', 123, 456) <class 'tuple'>

In [ ]:
def lcm(a,b):
  if a>b:
    greater = a
  else:
    greater = b

  while(True):
    if ((greater % a==0) and (greater % b==0)):
      lcm = greater
      break
    greater = greater + 1
  return lcm
  # print("LCM is:",lcm)

In [ ]:
ans = lcm(10,20)
print(ans)

20

In [ ]:
x = 3
y = 5

lcm(x,y)

LCM is: 15

In [ ]:
def abc():
  print("hey")

In [ ]:
x = abc
x()

hey

In [ ]:
a = lambda num:num**2

In [ ]:
a

In [ ]:
a(2)

4

In [ ]:
mylist = [10,20,30]

In [ ]:
list(map(lambda x:x**2, mylist))

[100, 400, 900]

In [ ]:
a = lambda **details: print(details)

In [ ]:
a(uname = "Hey",uid = 123)

{'uname': 'Hey', 'uid': 123}

In [ ]:
a(uid = 123, web="www.abc.com", uname="Hey")

{'uid': 123, 'web': 'www.abc.com', 'uname': 'Hey'}

In [ ]:
#PASSWORD VALIDATION

for i in range(1,4):
  password = input("Please enter password:")
  l , c, sp , n = 0,0,0,0
  if type(password)==str:
    if(5<=len(password)<=16):
      for j in password:
        if(97<=ord(j)<=122 ):
          l = l+1
        if(65<=ord(j)<=90):
          c = c+1
        if(48<=ord(j)<=57):
          n = n+1
        if(j == '$' or j =='!' or j =='@' or j=='^'):
          sp = sp +1
  if(l>=1 and c>=1 and c>=1 and sp>=1):
    print("Password Validated")
    break
  else:
    print("Password not validated")

Please enter password:Abc
Password not validated
Please enter password:Abc@
Password not validated
Please enter password:Abc@123
Password Validated

In [ ]:
def numberdata(num):
  assert (num>0),"User has provided negative number"
  print(num)

In [ ]:
numberdata(10)

10

In [ ]:
numberdata(-11)

AssertionError: ignored

In [ ]:
# Print the factors of the number


def factor(num):
  for i in range(1,num+1):
    if (num%i)==0:
      print(i)

In [ ]:
num = int(input("Enter the number:"))
factor(num)

Enter the number:100
1
2
4
5
10
20
25
50
100